<div class="row" *ngIf="member">
    <div class="col-4">
    <h1>You Profile</h1>
    </div>
    <div class="col-8">
<div class="alert alert-info" *ngIf="editForm.dirty">
    <strong>Information:</strong> You have Made any changes.  Any unsaved
</div>
    </div>
    <div class="col-4">
        <div class="card">
            <img [src]="member.photoUrl || '../../../assets/images/user.jpg'" alt={{member.username}} class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{member.username}}'>
                <form #editForm="ngForm" [FormGroup]="editForm" id="editForm" (ngSubmit)="updateMember()"> 
                <h4>Description</h4>
                <textarea class="form-control" [(ngModel)]="member.introduction" rows="6" name="introduction"></textarea>
                <h4>Looking For</h4>
                <textarea class="form-control" [(ngModel)]="member.lookingFor" rows="6" name="lookingFor"></textarea>
                <h4>intersts</h4>
                <textarea class="form-control" rows="6" [(ngModel)]="member.intersts" name="intersts"></textarea>
                <h4 class="mt-2">Location Detail</h4>
                <div>
                    <labal>City</labal>
                    <input class="form-control" name=city [(ngModel)]="member.city"/>
                    <labal>Country</labal>
                    <input class="form-control" name="country" [(ngModel)]="member.country" />
                </div>
            </form>                
            </tab>
            <tab heading='Edit Photos'>
            <app-photo-editor [member]="member"></app-photo-editor>
             </tab>
        </tabset>
    </div>
</div>
